*
{
    margin:0;
    padding:0;
}
body
{
    background-color:rgb(38,50,56);
    font-family: 'Montserrat', sans-serif;
}
.create_acc {
    
        background-image: -webkit-linear-gradient(to right, #81ff3d,#33fdf3); /* For Chrome and Safari */
        background-image:    -moz-linear-gradient(to right, #81ff3d,#33fdf3); /* For old Fx (3.6 to 15) */
        background-image:     -ms-linear-gradient(to right, #81ff3d,#33fdf3); /* For pre-releases of IE 10*/
        background-image:      -o-linear-gradient(to right, #81ff3d,#33fdf3); /* For old Opera (11.1 to 12.0) */
        background-image:         linear-gradient(to right, #81ff3d,#33fdf3); /* Standard syntax; must be last */
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing:2px;
        text-align: center;
        font-weight:bolder;
        margin:40px 0px 40px 0px;
    }
.logo{
    height:50px;
    display: block;
    margin:0px auto 0px auto;
    padding:30px 0px 30px 0px;
}
.form_cls
{
    width:320px;
    display: block;
    margin:40px auto 0px auto;
}
.input_under_form
{
    width:95%;
    display: block;
    text-align: center;
    padding:10px 0 10px 0;
    margin:10px auto 30px auto;
    color:#fff;
    font-size:17px;
    background-color: #a2aba02e;
    border:none;
    border-radius:7px;
}
::placeholder {
    color:rgba(228, 231, 226, 0.6);
  }
  .btn
  {
      padding:7px 15px 7px 15px;
    display: block;
    margin:10px auto 10px auto;
    background-color:transparent;
    color:#fff;
    font-size:17px;
    border:1.2px solid yellowgreen;
    cursor: pointer;
    border-radius:4px;
  }
  .btn:hover
  {
    background-color:teal;
    border: 1.2px solid transparent;
    border-radius:4px;
  }
  .under_form
  {
      width:350px;
      margin:30px auto 50px auto;
      display: flex;
      justify-content:space-around;
 }
 .uf_a
 {
     text-decoration:none;
     color:orange;
     font-size:1rem;
 }
 .uf_a:hover
 {
     text-decoration:underline;
     color:#ffffff;
 }
 footer {
    font-size: 17px;
    color: whitesmoke;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    cursor: not-allowed;
}
