*
{
    margin:0;
    padding:0;
}
body
{
    background: url(/Background/img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.form
{
text-align: center;
 display: block;
 margin:10vh auto 0 auto;
 width:350px;
}
.F_input
{
    text-align: center;
    height:30px;
    width:100%;
    border: none;
    font-size:17px;
    background-color:#d4e6d0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:7px;
}
.under_form_h1
{

    color:#a7e9af;
    font-family: Arial, Helvetica, sans-serif;
}
.F_btn
{
    margin-top:20px;
    height:30px;
    width:40%;
    border:1px solid #fff;
    background-color:transparent;
    cursor: pointer;
    font-size:17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    border-radius:5px;
}
.F_btn:hover
{
    background-color: rgb(105, 93, 93);
    border:1px solid #a7e9af;
    
}