*{
    margin:0;
    padding:0;
}
body{
    background-color:#1f1f1f;
    font-family: 'Roboto', sans-serif;
}
.password_reset
{
    margin-top:15%;
    width:100%;
    padding:10px 0 10px 0;
    background-color:#424242;
    text-align: center;
    letter-spacing:2px;
    color:rgb(252, 155, 64);
    font-size:35px;
    border-top:3px solid orangered;
    border-bottom:3px solid orangered;
}
.under_form_p
{
    text-align: center;
    letter-spacing:2px;
    color:#ffff;
    font-size:25px;
    margin-top:20px;
}
.F_input,
.F_input:hover
{
    display: block;
    margin:10vh auto 0 auto;
    height:30px;
    text-align: center;
    width:350px;
    border:none;
    background-color:transparent;
    border-bottom:1.5px solid orangered;
    color:rgb(85, 255, 85);
    font-size: medium;
}
.F_btn
{
    margin-top:50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    font-size:15px;
    width:100px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    letter-spacing:1px;
    font-weight:400;
    background-color:transparent;
    border:2px solid orangered;
    padding:7px;

}
.F_btn:hover
{
    border:2px solid rgb(109, 241, 97);
}
footer
{
    font-size:17px;
    color:whitesmoke;
margin-top:60px;
margin-bottom:60px;
    text-align: center;
    cursor:not-allowed;
}